{% extends "layout.html" %}

{% block content %}
<a href="{{ url_for('dashboard.dashboard') }}"
   class="btn btn-secondary">

    <i class="bi bi-arrow-left"></i>

    Back to Dashboard

</a>
<div class="container-fluid">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <div>

            <h2 class="fw-bold">

                Department Management

            </h2>

            <p class="text-muted">

                Manage all university departments.

            </p>

        </div>

       <a href="{{ url_for('departments.add_department') }}"
   class="btn btn-primary">

    <i class="bi bi-plus-circle"></i>

    Add Department

</a>

    </div>
    <form method="GET" class="row mb-3">

    <div class="col-md-5">

        <div class="input-group">

            <input
                type="text"
                class="form-control"
                name="search"
                placeholder="Search Department..."
                value="{{ search }}">

            <button
                class="btn btn-primary"
                type="submit">

                <i class="bi bi-search"></i>

            </button>

        </div>

    </div>

</form>
    <div class="card shadow-sm">

        <div class="card-body">

            <table class="table table-hover">

               <thead>

    <tr>

        <th>#</th>
        <th>Department</th>
        <th>Programme</th>
        <th>Status</th>
        <th width="180">Actions</th>

    </tr>

</thead>

                <tbody>

{% for department in departments %}

<tr>

    <td>{{ loop.index }}</td>

    <td>{{ department.department_name }}</td>

    <td>{{ department.programme.programme_name }}</td>

    <td>

        <span class="badge bg-success">

            {{ department.status }}

        </span>

    </td>

    <td>

        <a href="#"
           class="btn btn-sm btn-info">

            <i class="bi bi-eye"></i>

        </a>

        <a href="{{ url_for('departments.edit_department', id=department.id) }}"
   class="btn btn-warning btn-sm">

    <i class="bi bi-pencil"></i>

</a>

        <a href="{{ url_for('departments.delete_department', id=department.id) }}"
   class="btn btn-danger btn-sm"
   onclick="return confirm('Are you sure you want to delete this department?');">

    <i class="bi bi-trash"></i>

</a>

            <i class="bi bi-trash"></i>

        </a>

    </td>

</tr>

{% endfor %}

</tbody>

            </table>

        </div>

    </div>

</div>

{% endblock %}