# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/
ENV/

# ===========================
# IDE
# ===========================
.idea/
.vscode/

# ===========================
# Environment Variables
# ===========================
.env

# ===========================
# Logs
# ===========================
*.log

# ===========================
# OS Files
# ===========================
.DS_Store
Thumbs.db

# ===========================
# Uploads
# ===========================

uploads/

static/uploads/payment_proofs/
static/uploads/temp/

# Python cache
**/__pycache__/
*.pyc

# ===========================
# PythonAnywhere
# ===========================
*.sqlite3-journal

# ===========================
# Build Files
# ===========================
dist/
build/