{% extends "layout.html" %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-header bg-danger text-white">

            <h3>
                <i class="bi bi-trash"></i>
                Delete Executive
            </h3>

        </div>

        <div class="card-body text-center">

            <h4>

                Are you sure you want to delete

                <br><br>

                <strong>{{ executive.full_name }}</strong>?

            </h4>

            <form method="POST" class="mt-4">

                <button class="btn btn-danger">

                    <i class="bi bi-trash"></i>

                    Delete

                </button>

                <a href="{{ url_for('executives.executive_profile',
                                    executive_id=executive.id) }}"
                   class="btn btn-secondary">

                    Cancel

                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}