{% extends "layout.html" %}

{% block content %}

<div class="container py-4">

    <div class="card shadow border-0 rounded-4">

        <div class="card-header bg-primary text-white">

            <h4 class="mb-0">

                Add Lecturer

            </h4>

        </div>

        <div class="card-body">

            <form method="POST">

                <div class="mb-3">

                    <label class="form-label">

                        Lecturer Name

                    </label>

                    <input
                        type="text"
                        name="lecturer_name"
                        class="form-control"
                        required>

                </div>

                <div class="mb-3">

                    <label class="form-label">

                        Phone Number

                    </label>

                    <input
                        type="text"
                        name="phone_number"
                        class="form-control"
                        required>

                </div>

                <div class="mb-3">

    <label class="form-label">

        Department

    </label>

    <select
        name="department"
        class="form-select"
        required>

        <option value="">
            -- Select Department --
        </option>

        {% for department in departments %}

        <option value="{{ department.department_name }}">

            {{ department.department_name }}

        </option>

        {% endfor %}

    </select>

</div>

                <hr>

                <button class="btn btn-success">

                    Save Lecturer

                </button>

                <a href="{{ url_for('lecturers.lecturers') }}"
                   class="btn btn-secondary">

                    Cancel

                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}