{% extends "layout.html" %}

{% block content %}
<a href="javascript:history.back()"
   class="btn btn-secondary">

    <i class="bi bi-arrow-left"></i>
    Back

</a>
<div class="container-fluid">

    <div class="card shadow">

        <div class="card-header bg-primary text-white">

            <h3>

                <i class="bi bi-plus-circle"></i>

                Add New Programme

            </h3>

        </div>

        <div class="card-body">

            <form method="POST">

                <div class="mb-3">

                    <label class="form-label">

                        Programme Name

                    </label>

                    <input
    type="text"
    class="form-control"
    name="programme_name"
    value="{{ programme.programme_name }}"
    required>

                </div>

                <div class="mb-3">

                    <label class="form-label">

                        Faculty

                    </label>

                    <select
                        class="form-select"
                        name="faculty_id"
                        required>

                        <option value="">
                            -- Select Faculty --
                        </option>

                       {% for faculty in faculties %}

<option
    value="{{ faculty.id }}"
    {% if faculty.id == programme.faculty_id %}selected{% endif %}>

    {{ faculty.faculty_name }}

</option>

{% endfor %}

                    </select>

                </div>

                <div class="mb-3">

                   <option
    value="Active"
    {% if programme.status =="Active" %}selected{% endif %}>
    Active
</option>

<option
    value="Inactive"
    {% if programme.status =="Inactive" %}selected{% endif %}>
    Inactive
</option>

                    <select
                        class="form-select"
                        name="status">

                        <option value="Active">
                            Active
                        </option>

                        <option value="Inactive">
                            Inactive
                        </option>

                    </select>

                </div>

                <button
                    type="submit"
                    class="btn btn-success">

                    <i class="bi bi-save"></i>

                    Save Programme

                </button>

                <a href="{{ url_for('programmes.programmes') }}"
                   class="btn btn-secondary">

                    Cancel

                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}